.navbar {
  background-color: #ffffff;
  padding: 1rem 2rem;
  border-bottom: 1px solid #e0e0e0;

  display: flex;
  align-items: center;
  justify-content: space-between; /* <-- Asegúrate de que esta línea exista */
}
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #333;

}


.navbar-links a {
    margin-left: 1rem;
    text-decoration: none;
    color: #555;
    font-weight: 500;
}

.navbar-links a:hover {
    color: #007bff;
}

.navbar-logout-btn {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  background-color: #dc3545; /* Un color rojo */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.navbar-logout-btn:hover {
  background-color: #c82333;
}